@import 'variables';
@import 'components';
@import 'pages';

.root {
    &__container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
     &__main {
        display: flex;
        flex-direction: column;
    }
}

.menu {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}